@import "tailwindcss";
@import "tw-animate-css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');   

@custom-variant dark (&:is(.dark *));


:root {
  background-color: #262626;

}

@theme {
   --color-primary: var(--color-neutral-800);
  --color-secondary: var(--color-neutral-600);
  --shadow-aceternity: 
    0px 2px 3px -1px rgba(0, 0, 0, 0.1), 
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
    --font-poppins: ['Poppins', 'sans-serif']
}

.dark {
  --color-primary: var(--color-neutral-100);
  --color-secondary: var(--color-neutral-300);

  --shadow-aceternity: 
    0px 2px 3px -1px rgba(255, 255, 255, 0.52), 
    0px 1px 0px 0px rgba(255, 255, 255, 0.867),
    0px 0px 0px 1px rgba(255, 255, 255, 0.969);
}
